<div class="row" style="height: 300px;">
	<div class="col-md-4 col-xs-12" style="text-align: center; background-color: #ff5600">
		<h3 style="text-align: center;">References</h3>
		<div class="alert">
			<a href="https://www.w3schools.com/bootstrap/bootstrap_alerts.asp" style="color: black;" >BOOTSTRAP</a>
		</div>
		<div class="alert">
			<a href="https://www.w3schools.com/bootstrap/bootstrap_alerts.asp" style="color: black;" >PHP</a>
		</div>
		<div class="alert">
			<a href="https://www.w3schools.com/bootstrap/bootstrap_alerts.asp" style="color: black;" >HTML</a>
		</div>
		<div class="alert">
			<a href="https://www.w3schools.com/bootstrap/bootstrap_alerts.asp" style="color: black;" >CSS</a>
		</div>
	</div>
	<div class="col-md-4 col-xs-12" style="text-align: center;">
		<h3>Quick Links</h3>
		<div class="alert">
			<a href="http://localhost:4200/#">HOME</a>
		</div>
		<div class="alert">
			<a href="http://localhost:4200/#">SERVICES</a>
		</div>
		<div class="alert">
			<a href="http://localhost:4200/#">CONTACT US</a>
		</div>
		<div class="alert">
			<a href="http://localhost:4200/#">ABOUT US</a>
		</div>
	</div>
	<div class="col-md-4 col-xs-12" style="background-color: #339933; text-align: center;">
		<h3>Contact Us</h3>
		<h4>Address:-</h4>
		<h5>3rd Floor, T.N.Rao College,
			Nr. Saurashtra University Campus,
			Rajkot-360005,
		Gujarat</h5>
		<i style="font-size: 20px; color: white;" class="fa fa-facebook-official"></i>
		<i style="margin-left: 10px; font-size: 20px; color: white;" class="fa fa-git-square"></i>
		<i style="margin-left: 10px; font-size: 20px; color: white;" class="fa fa-google-plus-square"></i>
		<i style="margin-left: 10px; font-size: 20px; color: white;" class="	fa fa-linkedin-square"></i>
	</div>
</div>