<div class="container">  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 20px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height: 500px; min-width: 60%; max-width: 100%; background-color: red;">
      <div class="item active" style="max-height: auto; max-width: 100%; background-color: black;" >
        <img src="assets/slider-1.jpg" width="100%" height="100%" >
      </div>

      <div class="item" >
        <img src="assets/slider-2.jpg" width="100%" height="100%">
      </div>
    
      <div class="item" style="max-height: auto; max-width: 100%; background-color: black;">
        <img class="img-responsive" src="assets/slider-3.jpg" width="100%" height="100%" >
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
